body {
    /* color: #888; */
    /* background: #262626; */
    margin: 0;
    padding: 40px;
    text-align: center;
    /* font-family: "helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: 'Trebuchet MS', sans-serif;
  }
  
  #canvas {
    /* position: absolute; */
    top: 150px;
    left: 30%;
    text-align: center;
  }

  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

  h3 {
    color: #ff9234;
    font-size: 25px;
  }

  p{
    font-style: italic;
    font-size: 10px;
    color: #ff9234;
  }
  .haha{
    width:300px;
  }